.fromLeft {
  animation-name: fromLeft;
  animation-duration: 3s;
}

.fromRight {
  animation-name: fromRight;
  animation-duration: 3s;
}
@keyframes fromLeft {
  0% {
    transform: translateX(-120px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fromRight {
  0% {
    transform: translateX(30px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
