%btn-shared {
  cursor: pointer;
  padding: 4px 15px;
  font-weight: bold;
  @include set_background(#333, #fff);
  border: none;
  display: inline-block;
  transition: all 0.4s;

  &:hover {
    transform: scale(0.98);
    opacity: 0.9;
  }
}

.btn-custom,
.btn-rounded {
  @extend %btn-shared;
}

.btn-rounded {
  border-radius: 5px;
}

.btn-custom-dark {
  @extend %btn-shared;
  @include set-background(#333, #fff);
}

.btn-custom-primary {
  @include set-background(#d35266, #fff);
}

.btn-block-custom {
  display: block;
  width: 100%;
}