@import 'config';
@import 'utilities';
@import 'buttons';

body {
  font-family: var(--base-font);
}

a {
  color: var(--color-tertiary);
  text-decoration: none;
  font-size: 13px;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

// Header
header {
  height: 100vh;
  background: linear-gradient(rgba(#d35266, 0.8), rgba(#d35266, 0.9));
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  position: relative;

  .search-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
  }
}

/* Nav */
nav {
  background: linear-gradient(rgba(#000, 0.9), rgba(#383838, 1));
}
.main-nav {
  @include flex-center-h;
  flex-wrap: nowrap;
  padding: 20px 0;
  font-size: 1rem;
  height: 60px;
  text-transform: uppercase;

  .logo-container {
    margin-right: 2rem;
  }

  .logo {
    width: 50px;
  }

  li {
    padding: 0 8px;
    @include flex-center-h;
    flex-wrap: nowrap;

    a {
      padding-bottom: 3px;
      color: var(--color-secondary);
      font-weight: 700;
    }

    a:hover {
      text-decoration: none;
    }
  }
  .current-link {
    color: var(--color-primary);
  }

  i {
    margin-right: 0.3rem;
  }
}

// Hot Adds
.hot-adds {
  h5 {
    color: var(--color-primary);
  }
}
//Hot Offers

.hot-offers {
  background: linear-gradient(rgba(#888, 0.3), rgba(#eee, 0.8));
  height: 100vh;
  transform: skewY(-7deg);
  .image-link {
    display: inline-block;
    width: 100%;
    height: 100%;
  }

  & > * {
    transform: skewY(7deg);
  }

  & a:first-child img {
    transform: scal(0.9);
    transition: 0.3s ease-in-out;
  }

  & a:first-child:hover img {
    transform: scale(1.08);
  }
}

.btn-search {
  margin-top: -1rem;
  background: var(--color-tertiary);
  transition: all 0.3s;
}
.btn-search:hover {
  margin-top: -1rem;
  background: lighten(#383838, 10%);
  transform: translateY(-1px);
}

@media (max-width: 768px) {
  header {
    height: inherit;
    background: none;
  }
  .main-nav {
    justify-content: space-between;
    flex-shrink: 1;

    .post-add {
      display: none;
    }
  }
}

@media (max-width: 636px) {
  .main-nav {
    i {
      display: none;
    }

    .custom-mr-1 {
      margin-right: 0.3rem;
    }

    .logo-container {
      margin-right: 0rem;
    }
  }
}
