@import 'config';
@import 'utilities';
@import 'buttons';

body {
  font-family: var(--base-font);
}

a {
  color: var(--color-tertiary);
  text-decoration: none;
  font-size: 13px;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

/* Nav */
nav {
  background: var(--color-tertiary);
}
.main-nav {
  @include flex-center-h;
  flex-wrap: nowrap;
  padding: 20px 0;
  font-size: 1rem;
  height: 60px;
  text-transform: uppercase;


  .logo {
    width: 50px;
  }

  li {
    padding: 0 8px;
    @include flex-center-h;
    flex-wrap: nowrap;

    a {
      padding-bottom: 3px;
      color: var(--color-secondary);
    }

    a:hover {
      text-decoration: none;
    }
  }
  .current-link {
    color: var(--color-primary);
  }

  i {
    margin-right: 0.3rem;
  }
}

@media (max-width: 768px) {
  .main-nav {
    justify-content: space-between;
    flex-shrink: 1;

    .post-add {
      display: none;
    }
  }
}

@media(max-width: 636px){
    .main-nav {
        i {
            display: none;
        }

     
        .custom-mr-1 {
            margin-right: 0.3rem;
        }

        .custom-mr-2 {
            margin-right: 0.5rem;
        }

       
    }
}
