@import 'config';
@import 'utilities';
@import 'buttons';
@import 'animations';

body {
  font-family: var(--base-font);
}
body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

a {
  color: var(--color-tertiary);
  text-decoration: none;
  font-size: 13px;
}

ul {
  list-style: none;
}

.menu-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 2;
  cursor: pointer;
  display: none;
}

// Header
header {
  height: 50vh;
  background: linear-gradient(rgba(#d35266, 0.8), rgba(#d35266, 0.9));
  // clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  position: relative;

  .search-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
  }
}

/* Nav */
nav {
  background: linear-gradient(rgba(#000, 0.9), rgba(#383838, 1));
  height: 60px;
  padding: 1.25rem 0;
  @include flex-center-h;
  justify-content: space-between;

  .logo-container {
    display: inline-block;
    width: 180px;
    height: 50px;
    margin-left: 1rem;
  }
  img {
    width: 100%;
  }
}
.main-menu {
  @include flex-center-h;
  flex-wrap: nowrap;
  font-size: 1rem;
  padding-top: 1.2rem;

  li {
    padding: 0 8px;
    @include flex-center-h;
    flex-wrap: nowrap;

    a {
      padding-bottom: 3px;
      color: var(--color-secondary);
      font-weight: 700;
    }

    a:hover {
      text-decoration: none;
    }
  }
  .current-link {
    color: var(--color-primary);
  }

  i {
    margin-right: 0.3rem;
  }
}

// Hot Adds
.hot-adds {
  h5 {
    color: var(--color-primary);
  }
}
//Hot Offers
.hot-offers,
.best-mpg,
.trending {
  background: linear-gradient(rgba(#888, 0.1));
  height: 72vh;
  position: relative;

  .fa-chevron-left,
  .fa-chevron-right {
    top: 150px;
    color: #aaa;
    z-index: 1;
  }
  .fa-chevron-left {
    left: 25px;
  }

  .fa-chevron-right {
    right: 25px;
  }
  .image-link {
    display: inline-block;
    width: 100%;
    height: 100%;
  }

  & a:first-child img {
    transform: scal(0.9);
    transition: 0.3s ease-in-out;
  }

  & a:first-child:hover img {
    transform: scale(1.08);
  }
}

.best-mpg,
.trending {
  height: 80vh;
}

.follow {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 2rem 0;

  img {
    height: 35px;
    width: 35px;
  }

  h5 {
    margin-top: 0.4rem;
  }

  > * {
    margin-right: 1.2rem;
  }
}

//Search results page

.search-page-header {
  height: 35vh;

  .main-menu {
    justify-content: flex-start;

    img {
      width: 150px;
    }
  }
  .search-container {
    top: 30%;
    left: 39%;
    transform: translateX(-50%);
  }
  .fa-envelope {
    position: relative;
    span {
      background: var(--color-primary);
      font-size: 0.9rem;
      padding: 0 0.2rem;
      position: absolute;
      top: -7px;
      left: 20px;
    }
  }
}

.search-results-container {
  background-color: rgba(#888, 0.1);
}

main {
  border-right: 4px solid white;

  .serach-card-header {
    .fa-plus-square {
      color: #888;
    }
  }
}

//details page
.details-header {
  ul {
    @include display-flex($direction: row);

    li {
      margin-right: 1rem;
      a {
        font-size: 1rem;

        &:hover {
          text-decoration: none;
          color: var(--color-primary);
        }
      }
    }
  }
}

.pros-cons button {
  color: var(--color-tertiary);
  &:hover {
    color: var(--color-primary);
    text-decoration: none;
  }
}

//about

.mission {
  background: #fff;
  color: #383838;

  .underline {
    width: 150px;
    border: 3px solid #383838;
    margin: auto;
  }

  i {
    color: var(--color-primary);
  }
}

.partners {
  .underline {
    border-color: #fff;
  }

  img {
    width: 60%;
  }
}
.contact {
  margin-top: 5rem;

  background: linear-gradient(
      105deg,
      rgba(#383838, 1) 0%,
      rgba(#383838, 0.95) 50%,
      transparent 50%
    ),
    url('../images/contact/MW-HY837_at_gla_20200.jpg') no-repeat center center /
      cover;
  input {
    color: #fff;
    background: transparent;
    border-color: transparent;
    border-bottom: 2px solid #888;
    border-radius: 0;
    transition: all 0.7s;
    &:focus {
      background: transparent;
      border-color: transparent;
      box-shadow: none;
      color: #fff;
      border-bottom: 2px solid var(--color-primary);
    }
  }
  ::placeholder {
    color: #ccc;
  }
}

footer {
  .footer-links {
    background: linear-gradient(rgba(#888, 0.5), rgba(#383838, 1));
    height: 400px;

    .footer-logo-container {
      width: 50%;
    }

    ul {
      border-left: 1px solid var(--color-tertiary);
    }

    li {
      margin-bottom: 1rem;
    }
    a {
      color: #fff;
    }

    i {
      margin-right: 0.4rem;
      color: var(--color-primary);
      font-weight: bold;
    }

    img {
      width: 300px;
    }
  }

  .copyright {
    height: 13vh;
    background: linear-gradient(rgba(#000, 0.9), rgba(#383838, 1));
  }
}

.btn-search {
  margin-top: -1rem;
  background: var(--color-tertiary);
  transition: all 0.3s;
}
.btn-search:hover {
  margin-top: -1rem;
  background: lighten(#383838, 10%);
  transform: translateY(-1px);
}

@media (max-width: 992px) {
  .contact {
    background: linear-gradient(rgba(#383838, 1), rgba(#383838, 0.95));
  }
}

@media (max-width: 892px) {
  nav {
    padding-left: 0;
    justify-content: space-between;
  }

  .main-menu {
    i {
      display: none;
    }

    .fa-envelope {
      display: inline-block;
    }

    button {
      padding-right: 0.3rem;
      padding-left: 0.3rem;
    }

    .custom-mr-1 {
      margin-right: 0.3rem;
    }

    .logo-container,
    li {
      margin-right: 0rem;
      margin-left: 0;
    }
  }
}

@media (max-width: 768px) {
  header,
  .search-page-header {
    height: inherit;
    background: none;
  }

  //code from microsoft site
  .menu-btn {
    display: block;
    color: white;

    &:hover {
      opacity: 0.5;
    }
  }

  .main-menu {
    display: block;
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    background: var(--color-tertiary);
    width: 50%;
    height: 100vh;
    border-right: 1px solid #000;
    opacity: 0.9;
    padding: 30px;
    transform: translateX(-500px);

    &.show {
      transform: translateX(-20px);
    }
    li {
      padding: 10px;
      border-bottom: 1px solid #000;
      font-size: 14px;
      &:last-child {
        border: none;
      }

      a {
        color: white;
      }
    }
  }

  .fa-envelope {
    position: relative;
    span {
      background: var(--color-primary);
      font-size: 0.9rem;
      padding: 0 0.4rem;
      position: absolute;
      top: -7px;
      left: 15px;
    }
  }

  //end of code from microsoft site

  .details-header {
    ul {
      padding-left: 0;
    }
  }

  footer {
    .footer-links {
      img {
        margin: auto;
      }

      ul {
        margin: auto;
        display: flex;
        border-left: none;
        flex-wrap: wrap;

        i {
          display: none;
        }
      }
    }
  }

  .footer-logo-container {
    width: 80% !important;
    text-align: center;
    @include display-flex($direction: column);
    margin-top: 2rem;

    p {
      margin-top: 0.8rem;
    }
  }
}
